ipython
python-dotenv
pre-commit

requests        # HTTP client
fastapi         # back end 
uvicorn         # WSGI


matplotlib      # Viz 
seaborn         # Viz
plotly          # Viz
missingno       # Viz
wordcloud

streamlit       # front end

jupyter         # Notebook
notebook        # Notebook
jupyterlab      # Notebook
jupytext        # Notebook
nbconvert       # Notebook
ipykernel
redlines

pandas          # DataFrame
numpy           # Matrix
pandarallel

scipy==1.10.1   # Scientific computations
scikit-learn    # ML, PCA, Clustering
statsmodels     # Advanced stat tools
datasets

nltk            # nlp old tool
spacy           # nlp 'new' tool
gensim          # embedding
transformers    # hugging face
openai
langchain


tensorflow      # deep learning
# tensorboard
# scikeras 


pytest          # Tests
coverage
coverage-badge

black           # Code formating
black[jupyter]  # Code formationg
mypy            # Code QA
isort           # Code formating
pep8            # Code formating
flake8          # Code formating

mkdocs          # docs
mkdocs-material