ipython
python-dotenv

requests        # HTTP client
fastapi         # back end 
uvicorn         # WSGI


matplotlib      # Viz 
seaborn         # Viz
plotly          # Viz
missingno       # Viz
wordcloud

streamlit       # front end

jupyter         # Notebook
notebook        # Notebook
jupyterlab      # Notebook
jupytext        # Notebook
nbconvert       # Notebook
ipykernel
redlines

pandas          # DataFrame
numpy           # Matrix
pandarallel

scipy==1.10.1   # Scientific computations
scikit-learn    # ML, PCA, Clustering
statsmodels     # Advanced stat tools
datasets

nltk            # nlp old tool
spacy           # nlp 'new' tool
gensim          # embedding
transformers    # hugging face
openai
langchain


tensorflow      # deep learning
# tensorboard
# scikeras 
